@use "../theme";

.favorites {
  height: 100px;
  width: 100%;
  margin: 8px;
  padding: 8px;
  border: 1px dashed lightsalmon;
}

//.favorite {
// background-color: bisque;
//text-align: center;
//padding: 5px
//}
